<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="css/styles.css" />
    <title>{{title}}</title>
</head>

<body>
    <div class='main-content'>
        {{>header}}

        <p>This project comes from the Nodejs course on Udemy. Geo-location data pulled from mapbox and weather data
            pulled from weatherstack.</p>

        <img class='portrait' src="/images/icculus.jpeg" />
    </div>

    {{>footer}}

</body>

</html>